  
<div class="logo">
      <img width="100" alt="Aviconn logo" src="assets/image/1.png"><br>
      <img width="100" alt="Aviconn logo-text" src="assets/image/2.png"><br>
      <h5 id="esm">Aviconn Smart Energy Management<br>( SEM )</h5>
      
      
      </div>
      <form (ngSubmit)="onLogin()" [formGroup]="userLogin">
        <div class="form-group">
          <mat-form-field class="example-full-width">
              <input matInput formControlName="username">
              <mat-placeholder class="placeholder">Username</mat-placeholder>
              <!-- <mat-error *ngIf="userLogin.get('username').hasError('required')">
                Username is <strong>required</strong>
              </mat-error> -->
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
              <input matInput type="password"  formControlName="password">
              <mat-placeholder class="placeholder">Password</mat-placeholder>
              <mat-error *ngIf="userLogin.get('password').hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
          </mat-form-field>
        </div>
        <a [routerLink]="" id="fp" data-toggle="modal" data-target="#exampleModal">Forgot Password ?</a><br>
        <!-- <a [routerLink]="['/register']" id="fp" >Forgot Password ?</a><br> -->
        <!-- <a [routerLink]="" (click)="onClickPopup()" id="fp">Forgot Password ?</a><br> -->
        <button mat-ripple mat-raised-button type="submit" [disabled]="loading">Login</button><br>
        <!-- <amt-spinner class="spinner" *ngIf="loading"></amt-spinner> -->
        <div style="display:inline-block;">
        <a href="http://www.aviconn.in/" target="_blank" style="float: left" id="avc">www.aviconn.in</a></div>
        <div style="display:inline-block; margin-left: 152px;">
        <a href="mailto:sem@aviconn.in?Subject=Aviconn ESM Enquiry" style="float:right" id="sup">Support</a></div>
        <br>
        
      </form>

      <div class="footimg">
        <img class="bottomImg" src="assets/image/bottom_img.png">
      </div>

      <popup>Password Reset</popup>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Password Reset</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">User Name:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="recipient-contact" class="col-form-label">Mobile No.:</label>
                  <input type="text" class="form-control" id="recipient-contact">
                </div>
                <div class="form-group">
                  <label for="recipient-email" class="col-form-label">Email Id:</label>
                  <input type="text" class="form-control" id="recipient-email">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-warning">Submit</button>
            </div>
          </div>
        </div>
      </div>